* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(215, 206, 216);
}

.container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 1fr 150px;
    grid-template-areas:
        "navigation content"
        "navigation footer";
    width: 1020px;
    height: 1200px;
    font-size: 28px;
}

.navigation {
    grid-area: navigation;
    color: #fff;
    background-color: rgb(50, 109, 79);
}

.content-box {
    grid-area: content;
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
}

.content-box .box {
    flex-basis: 50%;
    border: 3px solid blue;
    text-align: center;
    border-radius: 20px;
    background-color: rgb(238, 238, 186);
}

.content-box .box:nth-child(2n) {
    border-color: rgb(239, 167, 59);
}

.footer {
    grid-area: footer;
    color: #fff;
    background-color: rgb(210, 141, 141);
}

@media screen and (max-width: 1019px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: 200px 1fr 200px;
        grid-template-areas:
            "navigation"
            "content"
            "footer";
        width: 100vw;
        height: 100vh;
    }
}

@media screen and (max-width: 767px) {
    .content-box .box {
        flex-basis: 100%;
    }
}
