.wrap {
    background-color: white;
    width: 80%;
    max-width: 1920px;
    margin: 0 auto;
    border: 1px solid black;
}

header {
    background-color: black;
    text-align: center;
    padding-top: 20px;

    position: relative;
}

header .gnb {
    display: grid;
    grid-template-columns: 300px 1fr 300px;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "logo gnb-menu gnb-profile"
        "search search search";

    color: white;
}

header .gnb .logo {
    grid-area: logo;
    display: flex;
    align-items: center;
}

header .gnb .gnb-menu {
    grid-area: gnb-menu;
    display: flex;
    justify-content: center;
}

header .gnb .gnb-menu ul {
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;
}

header .gnb .gnb-menu ul li {
    font-weight: bold;
    cursor: pointer;
    position: relative;
}

header .gnb .gnb-menu ul .active::before {
    content: "";
    height: 2px;
    width: 15px;
    background-color: white;
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translate(-50%, 0);
}

header .gnb .gnb-menu ul li:not(.active):hover {
    color: lightgray;
}

header .gnb .gnb-menu ul li:not(.active):hover::before {
    content: "";
    height: 2px;
    width: 4px;
    background-color: white;
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translate(-50%, 0);
}

header .gnb .gnb-profile {
    grid-area: gnb-profile;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
    width: 80%;
    margin-left: 20%;
}

header .gnb .gnb-profile .menu-hover {
    padding: 10px 20px;
}

header .gnb .gnb-profile .menu-hover:hover {
    background-color: rgba(172, 172, 172, 0.3);
    border-radius: 30px;
}

header .gnb .gnb-profile .profile {
    background-color: white;
    color: gray;
    padding: 10px 10px;
    border-radius: 30px;
}

header .gnb .search {
    grid-area: search;
}

header .gnb .search .search-bar {
    background-color: white;
    color: black;
    width: 70%;
    display: flex;
    margin: 0 auto;

    border-radius: 50px;
}

header .gnb .search .search-bar li {
    width: 25%;
    text-align: left;
    padding: 20px 50px 20px 20px;
    font-weight: blod;
    font-size: 15px;
    position: relative;
}

header .gnb .search .search-bar li::after {
    position: absolute;
    content: "";
    width: 1px;
    height: calc(100% - 40px);
    top: 50%;
    right: 0;
    background-color: lightgray;
    transform: translate(0, -50%);
}

header .gnb .search .search-bar li:last-child::after {
    display: none;
}

header .gnb .search .search-bar li span {
    color: gray;
}

header .gnb .search .search-bar li:hover {
    background-color: lightgray;
    border-radius: 50px;
}
