.wrap {
    background-color: white;
    width: 80%;
    max-width: 1920px;
    margin: 0 auto;
    overflow: hidden;
}

@media screen and (max-width: 767px) {
    .wrap {
        width: 90%;
    }
}

.black-bg {
    background-color: black;
    width: 100%;
    height: 1000px;
    left: 0;

    position: absolute;
    z-index: 1;
}

/* header */
header {
    text-align: center;
    padding-top: 20px;

    position: relative;
    z-index: 10;
}

header .gnb {
    display: grid;
    grid-template-columns: 300px 1fr 300px;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "logo gnb-menu gnb-profile"
        "search search search";

    color: white;
}

header .gnb .logo {
    grid-area: logo;
    display: flex;
    align-items: center;
}

header .gnb .gnb-menu {
    grid-area: gnb-menu;
    display: flex;
    justify-content: center;
}

header .gnb .gnb-menu ul {
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;
}

header .gnb .gnb-menu ul li {
    font-weight: bold;
    cursor: pointer;
    position: relative;
}

header .gnb .gnb-menu ul .active::before {
    content: "";
    height: 2px;
    width: 15px;
    background-color: white;
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translate(-50%, 0);
}

header .gnb .gnb-menu ul li:not(.active):hover {
    color: lightgray;
}

header .gnb .gnb-menu ul li:not(.active):hover::before {
    content: "";
    height: 2px;
    width: 4px;
    background-color: white;
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translate(-50%, 0);
}

header .gnb .gnb-profile {
    grid-area: gnb-profile;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
    width: 80%;
    margin-left: 20%;
}

header .gnb .gnb-profile .menu-hover {
    padding: 10px 20px;
}

header .gnb .gnb-profile .menu-hover:hover {
    background-color: rgba(172, 172, 172, 0.3);
    border-radius: 30px;
}

header .gnb .gnb-profile .profile {
    background-color: white;
    color: gray;
    padding: 10px 10px;
    border-radius: 30px;
}

header .gnb .search {
    grid-area: search;
}

header .gnb .search .search-bar {
    background-color: white;
    color: black;
    width: 70%;
    display: flex;
    margin: 0 auto;

    border-radius: 50px;
}

header .gnb .search .search-bar li {
    width: 25%;
    text-align: left;
    padding: 20px 50px 20px 20px;
    font-weight: blod;
    font-size: 15px;
    position: relative;
}

header .gnb .search .search-bar li::after {
    position: absolute;
    content: "";
    width: 1px;
    height: calc(100% - 40px);
    top: 50%;
    right: 0;
    background-color: lightgray;
    transform: translate(0, -50%);
}

header .gnb .search .search-bar li:last-child::after {
    display: none;
}

header .gnb .search .search-bar li span {
    color: gray;
}

header .gnb .search .search-bar li:hover {
    background-color: lightgray;
    border-radius: 50px;
}

@media screen and (max-width: 767px) {
    header .gnb {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: "search";

        color: white;
    }

    header .gnb .logo {
        display: none;
    }

    header .gnb .gnb-menu {
        display: none;
    }

    header .gnb .gnb-profile {
        display: none;
    }

    header .gnb .search {
        grid-area: search;
    }

    header .gnb .search .search-bar {
        display: none;
    }

    header .gnb .search .search-bar-mb {
        background-color: white;
        color: black;
        width: 100%;
        margin: 0 auto;
        padding: 20px 0px;
        font-size: 1.2rem;

        border-radius: 50px;
    }
}

/* notice */

.notice {
    background-color: #ff385c;
    border-radius: 14px;
    text-align: center;
    height: 320px;

    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    z-index: 10;
}

.notice p {
    font-size: 1.5rem;
    color: white;
    font-weight: bold;
    line-height: 1.8rem;

    margin-bottom: 2rem;
}

.notice button {
    border: 1px solid white;
    padding: 5px 15px;
    color: white;
    background-color: inherit;
    font-weight: bold;
    border-radius: 8px;
}

/* main-banner */

.main-banner {
    height: 600px;
    border-radius: 14px;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 50px;

    background-image: url(../img/banner-img.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    position: relative;
    z-index: 10;
}

.main-banner .content {
    color: white;
    text-align: center;
}

.main-banner .content p {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 2rem;
}

.main-banner .content button {
    border: 1px solid white;
    background-color: white;
    padding: 15px 30px;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 30px;
}

.main-banner .content button span {
    background: linear-gradient(90deg, #6f019c 0, #c6017e 135.12%);
    -webkit-background-clip: -webkit-text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* idea */

.idea .city {
    display: flex;
    width: 100%;

    overflow: auto;
}

.idea .city .card {
    width: 25%;
    margin-right: 30px;

    cursor: pointer;
}

.idea .city .card:last-of-type {
    margin-right: 0px;
}

.idea .city .card img {
    width: 100%;
    height: 180px;
    display: block;

    border-radius: 15px 15px 0px 0px;
}

.idea .city .card figcaption {
    padding: 20px 0px 140px 15px;
    border-radius: 0px 0px 15px 15px;
    color: white;
}

.idea .city .card figcaption {
    height: calc(180px - calc(24px * 2));
    padding: 24px 16px;
    border-radius: 0px 0px 15px 15px;
}

.idea .city .card figcaption p {
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 2rem;
}

.idea .city .card figcaption p span {
    font-size: 0.9rem;
}

@media screen and (max-width: 767px) {
    .idea .city {
        -ms-overflow-style: none; /* ie */
        scrollbar-width: none; /* firefox */
    }

    /* chrome  */
    .idea .city::-webkit-scrollbar {
        display: none;
    }

    .idea .city .card {
        min-width: 200px;
        margin-right: 15px;
    }

    .idea .city .card figcaption p {
        font-size: 1.5rem;
        line-height: 2rem;
        padding-bottom: 0.5rem;
    }
}

/* expression */

.expression {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-gap: 25px;
    grid-template-areas:
        "heading heading"
        "div1 div2";
}

.expression .photo-div {
    height: calc(700px - calc(60px * 2));
    padding: 60px;
    border-radius: 15px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.expression .photo-div:first-of-type {
    background-image: url(../img/traveler.jpg);
}

.expression .photo-div:last-of-type {
    background-image: url(../img/family_home.jpg);
}

.expression .photo-div p {
    color: white;
    font-size: 2rem;
    font-weight: bold;
    line-height: 3rem;
}

.expression .photo-div button {
    color: black;
    font-size: 0.8rem;
    font-weight: bold;
    border: none;
    background-color: white;
    padding: 13px 22px;
    border-radius: 15px;
    margin-top: 16px;
}

.expression .photo-div button:hover {
    background-color: lightgrey;
}

@media screen and (max-width: 767px) {
    .expression {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        grid-gap: 25px;
        grid-template-areas:
            "heading"
            "div1"
            "div2";
    }
}
